{% include 'nav.html' %}
{% load static %}
{% block watches %}
<div class="container-fluid pb-5" style="background-color: #e6f0ff; padding-top: 75px; padding-left: 5%">
  <h1 class="p-5" style="font-family: helvetica">Products under 'Books' Category</h1>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (50).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Taming Python by Programming</h6>
      <div class="" style="font-size: 12px">
        Learning python programming by taming
      </div>
      <h4>&#8358; 6,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (51).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Core Java Programming</h6>
      <div class="" style="font-size: 12px">
        A Practical Approach
      </div>
      <h4>&#8358; 5,500</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (52).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Java Programming</h6>
      <div class="" style="font-size: 12px">
        Introductory Concepts and Technologies
      </div>
      <h4>&#8358; 7,300</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (53).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Automatic Control Systems</h6>
      <div class="" style="font-size: 12px">
        Learning about control systems
      </div>
      <h4>&#8358; 12,500</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (54).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Beginner's Guide for Data Analysis using R Programming</h6>
      <div class="" style="font-size: 12px">
        Learn Data Analysis with R Programming
      </div>
      <h4>&#8358; 4,600</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (55).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">C++ How to program</h6>
      <div class="" style="font-size: 12px">
        Learning to Program with C++
      </div>
      <h4>&#8358; 5,400</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (56).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Battlefield Of The Mind</h6>
      <div class="" style="font-size: 12px">
        Winning the battle in your mind
      </div>
      <h4>&#8358; 2,500</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (57).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">How to hear GOD'S Voice</h6>
      <div class="" style="font-size: 12px">
        Hearing GOD'S Voice (interactive)
      </div>
      <h4>&#8358; 4,300</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (58).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">The Intelligent Investor</h6>
      <div class="" style="font-size: 12px">
        The classic bestseller on value investing
      </div>
      <h4>&#8358; 2,900</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (59).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">NKJV</h6>
      <div class="" style="font-size: 12px">
        Large print reference bible
      </div>
      <h4>&#8358; 9,500</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (60).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Eat Right 4 Your Type</h6>
      <div class="" style="font-size: 12px">
        Eating according to your blood type
      </div>
      <h4>&#8358; 7,200</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (61).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Eat That Frog!</h6>
      <div class="" style="font-size: 12px">
        21 Ways to Stop Procrastinating and Get More Done In Less Time
      </div>
      <h4>&#8358; 2,200</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
</div>
{% endblock %}
{% include 'footer.html' %}
