{% include 'nav.html' %}
{% load static %}
{% block watches %}
<div class="container-fluid pb-5" style="background-color: #e6f0ff; padding-top: 75px; padding-left: 5%">
  <h1 class="p-5" style="font-family: helvetica">Products under 'Hair Grooming' Category</h1>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (39).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Beard Trimmer</h6>
      <div class="" style="font-size: 12px">
        Rechargeable 2500mAH
      </div>
      <h4>&#8358; 5,600</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (40).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Hair Trimmer</h6>
      <div class="" style="font-size: 12px">
        Electric Powered
      </div>
      <h4>&#8358; 9,300</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (41).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Hair Trimmer GTOV4</h6>
      <div class="" style="font-size: 12px">
        Rechargeable with 3 leveling Pcs
      </div>
      <h4>&#8358; 4,800</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (42).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Beard Oil</h6>
      <div class="" style="font-size: 12px">
        Contains Essential Carotine For Better Hair Growth
      </div>
      <h4>&#8358; 7,300</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (43).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Hair Grooming Set</h6>
      <div class="" style="font-size: 12px">
        Contains Hair Brush Hair Spray
      </div>
      <h4>&#8358; 15,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (44).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Beard Oil</h6>
      <div class="" style="font-size: 12px">
        Can Serve as Beard Balm
      </div>
      <h4>&#8358; 3,200</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (45).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Hair Spray</h6>
      <div class="" style="font-size: 12px">
        Blue coloured spray
      </div>
      <h4>&#8358; 2,500</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (47).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Clipper Set</h6>
      <div class="" style="font-size: 12px">
        Contains 4 Kinds of Clippers
      </div>
      <h4>&#8358; 22,500</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (49).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Complete Barbing Tools</h6>
      <div class="" style="font-size: 12px">
        Contains all The Equipments Required For Barbing
      </div>
      <h4>&#8358; 10,500</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (48).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Hair & Beard Oil</h6>
      <div class="" style="font-size: 12px">
        Can be Used For Both Hair and Beard
      </div>
      <h4>&#8358; 2,200</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (49).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Complete Barbing Tools</h6>
      <div class="" style="font-size: 12px">
        Contains all The Equipments Required For Barbing
      </div>
      <h4>&#8358; 8,500</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (43).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Hair Grooming Set</h6>
      <div class="" style="font-size: 12px">
        Contains Hair Brush Hair Spray
      </div>
      <h4>&#8358; 10,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
</div>
{% endblock %}
{% include 'footer.html' %}
