{% include 'nav.html' %}
{% load static %}
{% block watches %}
<div class="container-fluid pb-5" style="background-color: #e6f0ff; padding-top: 75px; padding-left: 5%">
  <h1 class="p-5" style="font-family: helvetica">Products under 'Health Care' Category</h1>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (24).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Mycota Powder</h6>
      <div class="" style="font-size: 12px">
        Treats and Prevents Athlete's Foot
      </div>
      <h4>&#8358; 3,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (25).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Forever iVision</h6>
      <div class="" style="font-size: 12px">
        Food Supplement
      </div>
      <h4>&#8358; 9,900</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (26).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">ToothPaste</h6>
      <div class="" style="font-size: 12px">
        Advanced Enzyme Action
      </div>
      <h4>&#8358; 5,500</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (27).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Black Mask</h6>
      <div class="" style="font-size: 12px">
        Face Treatment
      </div>
      <h4>&#8358; 6,300</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (28).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">NIVEA Body Lotion</h6>
      <div class="" style="font-size: 12px">
        Nourishing Cocoa Extract
      </div>
      <h4>&#8358; 4,500</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (29).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">NIVEA Body Lotion</h6>
      <div class="" style="font-size: 12px">
        Perfect & Radient
      </div>
      <h4>&#8358; 3,500</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (32).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Tea Tree</h6>
      <div class="" style="font-size: 12px">
        Facial Scrub
      </div>
      <h4>&#8358; 8,800</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (33).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Vitamin C Serum</h6>
      <div class="" style="font-size: 12px">
        Whitening & Brightening, Moisturizing & Anti-Acne
      </div>
      <h4>&#8358; 8,900</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (34).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Brightening Vitamin C</h6>
      <div class="" style="font-size: 12px">
        Micro-Polishing Facial Scrub
      </div>
      <h4>&#8358; 4,500</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (32).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Tea Tree</h6>
      <div class="" style="font-size: 12px">
        Facial Scrub
      </div>
      <h4>&#8358; 2,500</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (35).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Dr Rashel Mask</h6>
      <div class="" style="font-size: 12px">
        Green Tea
      </div>
      <h4>&#8358; 6,600</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (38).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Tea Tree Product Set</h6>
      <div class="" style="font-size: 12px">
        Contains Spray, Drink & Lotion
      </div>
      <h4>&#8358; 9,990</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
</div>
{% endblock %}
{% include 'footer.html' %}
