{% include 'nav.html' %}
{% load static %}
{% block watches %}
<div class="container-fluid pb-5" style="background-color: #e6f0ff; padding-top: 75px; padding-left: 5%">
  <h1 class="p-5" style="font-family: helvetica">Products under 'Laptops' Category</h1>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (8).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title pt-2">Lenovo Legion 7 15IMH05H Intel Core i7-10750H 1TB SSD 16GB 6GB RAM</h6>
      <div class="" style="font-size: 12px">
        Intel Core i7 1TB SSD 16GB 6GB RAM
      </div>
      <h4>&#8358; 955,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (9).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title pt-2">Lenovo V14 AMD RYZEN 3 3250U 1TB 8GB RAM 14.0" WINDOWS 10 PRO</h6>
      <div class="" style="font-size: 12px">
        AMD RYZEN 3 1TB HDD 8GB RAM
      </div>
      <h4>&#8358; 218,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (10).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title pt-2">Lenovo IDEAPAD V14-10TH-GEN INTEL CORE i3 8GB RAM 1TB HDD </h6>
      <div class="" style="font-size: 12px">
        10TH-GEN INTEL CORE i3 8GB RAM 1TB HDD
      </div>
      <h4>&#8358; 278,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (11).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title pt-2">Lenovo CHROMEBOOK 11 INTEL CELERON 4GB RAM 16GB SSD USB-Light</h6>
      <div class="" style="font-size: 12px">
        INTEL CELERON 4GB RAM 16GB SSD
      </div>
      <h4>&#8358; 84,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (12).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title pt-2">HP ENVY 15 X360 CONVERTIBLE 10TH GEN INTEL EVO CORE i7 1255U 15.6"</h6>
      <div class="" style="font-size: 12px">
        10TH GEN INTEL EVO CORE i7 15.6" DISPLAY
      </div>
      <h4>&#8358; 920,900</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (13).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title pt-2">HP EliteBook G5 7TH GEN 14" FHD 8GB RAM 512GB SSD</h6>
      <div class="" style="font-size: 12px">
        7TH GEN 14" FHD 8GB RAM 512GB SSD
      </div>
      <h4>&#8358; 490,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (14).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title pt-2">HP Spectre X360 14T-EA000 INTEL CORE i7 1TB 8GB RAM 13.5" WUXGA+</h6>
      <div class="" style="font-size: 12px">
        INTEL CORE i7 1TB 8GB RAM 13.5" DISPLAY WINDOWS 11
      </div>
      <h4>&#8358; 1,322,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (15).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title pt-2">HP NoteBook 15 INTEL CORE i3 10TH GEN 1TB HDD 16GB RAM</h6>
      <div class="" style="font-size: 12px">
        INTEL CORE i3 10TH GEN 1TB HDD 16GB RAM WINDOWS 10
      </div>
      <h4>&#8358; 300,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (20).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title pt-2">DELL AlienWare X14 R1 Core i7-12700H 2TB SSD 16GB RAM 14" FHD</h6>
      <div class="" style="font-size: 12px">
        AlienWare Core i7-12700H 2TB SSD 16GB RAM 14" FHD
      </div>
      <h4>&#8358; 1,650,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (21).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title pt-2">DELL LATITUDE 3480 15" INTEL CELERON 8GB 256GB SSD</h6>
      <div class="" style="font-size: 12px">
        LATITUDE INTEL CELERON 8GB 256GB SSD
      </div>
      <h4>&#8358; 315,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (22).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title pt-2">DELL LATITUDE 3189 Intel Celeron Touch 128GB SSD 4GB RAM 11.6"</h6>
      <div class="" style="font-size: 12px">
        INTEL CELERON TOUCH 128GB SSD 4GB RAM 11.6" DISPLAY
      </div>
      <h4>&#8358; 180,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (23).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title pt-2">DELL INSPIRON 15 TouchScreen INTEL CORE i3 8GB RAM 256GB SSD 15.6"</h6>
      <div class="" style="font-size: 12px">
        INTEL CORE i3 8GB RAM 256GB SSD 15.6" DISPLAY
      </div>
      <h4>&#8358; 398,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
</div>
{% endblock %}
{% include 'footer.html' %}
