{% include 'nav.html' %}
{% load static %}
{% block watches %}
<div class="container-fluid pb-5" style="background-color: #e6f0ff; padding-top: 75px; padding-left: 5%">
  <h1 class="p-5" style="font-family: helvetica">Products under 'Phones' Category</h1>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (1).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Samsung Galaxy A13 6.6" 4GB/64GB Android 12 Black</h6>
      <div class="" style="font-size: 12px">
        4GB RAM 64GB STORAGE Android 12 Black 6.6" DISPLAY 5000mAh
      </div>
      <h4>&#8358; 122,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (2).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">SAMSUNG GALAXY A03 CORE 2GB/64GB Memory Black</h6>
      <div class="" style="font-size: 12px">
        2GBRAM 64GB STORAGE Memory Onyx-Black
      </div>
      <h4>&#8358; 64,360</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (4).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Apple Iphone XS Max 6.5" Gold</h6>
      <div class="" style="font-size: 12px">
        6.5" Display Free Case and Screen Guard
      </div>
      <h4>&#8358; 305,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (18).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">XIAOMI Redmi 10 5.5" 8GB RAM 128GB ROM</h6>
      <div class="" style="font-size: 12px">
        5.5" DISPLAY 8GB RAM 128GB ROM
      </div>
      <h4>&#8358; 575,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (5).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Renew Iphone 8 64GB Red</h6>
      <div class="" style="font-size: 12px">
        Red 64GB ROM 4.7" Display
      </div>
      <h4>&#8358; 139,999</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (6).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Iphone X 256GB Silver</h6>
      <div class="" style="font-size: 12px">
        256GB ROM 8GB RAM
      </div>
      <h4>&#8358; 230,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (7).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Apple Iphone 256GB Space Grey</h6>
      <div class="" style="font-size: 12px">
        8GB RAM 256GB ROM Space Grey
      </div>
      <h4>&#8358; 235,600</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (16).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">XIAOMI Redmi 9A 2GB RAM</h6>
      <div class="" style="font-size: 12px">
        6.53" Display 2GB RAM 256GB ROM
      </div>
      <h4>&#8358; 61,990</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (17).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">XIAOMI Redmi A1 6.52" 2GB RAM 32GB ROM</h6>
      <div class="" style="font-size: 12px">
         6.52" DISPLAY 2GB RAM 32GB ROM 5000mAH
      </div>
      <h4>&#8358; 59,900</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
  <div class="d-flex">
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (19).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">XIAOMI Redmi Note 10 Pro DUAL SIM 6GB RAM 128GB ROM</h6>
      <div class="" style="font-size: 12px">
        DUAL SIM 6GB RAM 128GB ROM 4G Lite
      </div>
      <h4>&#8358; 180,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (1).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">Samsung Galaxy A13 6.6" 2GB/64GB Android 12 Onyx-Black</h6>
      <div class="" style="font-size: 12px">
        6.6" Display 2GB RAM 64GB ROM Android 12 Onyx-Black
      </div>
      <h4>&#8358; 112,000</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
    <div class="card m-2 p-2" style="width: 30%">
      <img src="{% static 'images/1 (17).jpg' %}" alt="" height="150px" width="150px">
      <h6 class="card-title">XIAOMI Redmi A1 6.52" 6GB RAM 128GB ROM</h6>
      <div class="" style="font-size: 12px">
        6.52" Display 6GB RAM 128GB ROM
      </div>
      <h4>&#8358; 79,900</h4>
      <button class="btn btn-primary" type="button" name="button">Buy</button>
    </div>
  </div>
</div>
{% endblock %}
{% include 'footer.html' %}
